{% extends 'index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/parent_reg_post" method="post"><table width="200" border="2" class="table table-bordered">
    {% csrf_token %}
  <tr>
    <th scope="row">Name</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required /></td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required/></td>
  </tr>
  <tr>
    <th scope="row">Post</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required /></td>
  </tr>
  <tr>
    <th scope="row">Pin</th>
    <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required /></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required/></td>
  </tr>
  <tr>
    <th scope="row">Phone</th>
    <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" required /></td>
  </tr>
  <tr>
    <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-secondary" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}
