<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="200" border="2">
  <tr>
    <th scope="row"><a href="/view_staff_profile">view profile</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_student">add student</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_staff_student">view student</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_work">view work & assign</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_work_status">view work status</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_note">add work</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_note">view work</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/add_student_note">add note</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_student_note">view note</a></th>
  </tr>

  <tr>
    <th scope="row"><a href="/staff_view_parent">view parent &assign child</a></th>
  </tr>
</table>

</body>
</html>
