{% extends 'staff/staffindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="2" class="table table-bordered">
  <tr>
    <th scope="row">#</th>
    <td>Note</td>
    <td>date</td>
    <td></td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ forloop.counter }}</th>
    <td><a href="{{ i.photo }}" class="btn btn-secondary">click</a> </td>
    <td>&nbsp;{{ i.date }}</td>
    <td><a href="/delete_student_note/{{ i.id }}" class="btn btn-secondary">delete</a> </td>

  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}