<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="200" border="2">
  <tr>
    <th scope="row"><a href="/add_expert">add expert</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_expert">view expert</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_staff">add staff</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_staff">view staff</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_bus">add bus</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_bus">view bus</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_driver">add driver</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_driver">view driver</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/assign_bus_todriver">Assign bus to driver</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_student">view student & assign bus</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_parents">verify parents</a></th>
  </tr>
</table>

</body>
</html>
