{% extends 'admin/adminindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><table width="200" border="2" class="table table-bordered">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Place</th>
    <th scope="col">Post</th>
    <th scope="col">Pin</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>&nbsp;{{ i.place }}</td>
    <td>&nbsp;{{ i.post }}</td>
    <td>&nbsp;{{ i.pin }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>&nbsp;{{ i.phone }}</td>
    <td><p><a href="/approve_parent/{{ i.LOGIN.id }}" class="btn btn-secondary">Approve</a></p>
    <p><a href="/reject_parent/{{ i.LOGIN.id }}" class="btn btn-secondary">Reject</a></p></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}